<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shohiebsense.idiomaticsynonym">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".XprediomApplication"
        android:allowBackup="false"
        android:authorities="${applicationId}.contentprovider"
        android:icon="@mipmap/ic_launcher_official"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme.Red"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_TRANSLATE_KEY" />
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://@shohiebsense" />

        <service
            android:name=".model.event.MyDriveEventService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.drive.events.HANDLE_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".TranslatedDisplayActivity" />
        <activity android:name=".BookmarkedActivity" />
        <activity android:name=".UnderliningActivity" />
        <activity android:name=".DriveSignInActivity" />
        <activity
            android:name=".DriveCreateFileActivity"
            android:noHistory="true" />
        <activity android:name=".DriveOpenFileActivity" />
        <activity android:name=".EditorActivity" />
        <activity android:name="com.onegravity.rteditor.media.choose.MediaChooserActivity" />
        <activity android:name="com.onegravity.rteditor.media.crop.CropImageActivity" />
        <activity android:name=".RTEditorActivity" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".LanguageSettingActivity"
            android:noHistory="true" />
        <activity android:name=".CreateFileActivity"></activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/BaseTheme.Red"></activity>
    </application>

</manifest>